.TituloPrincipal{
    text-align: center;
}

.Subtituloytexto{
    text-align: center;
    background-color: aqua;
}

.grid-elements{
    background-color: blanchedalmond;
    
    border: 1px solid black;
}

.grid-example{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 60px 100px 1fr;
}