@media screen and (min-width:1024) /*Diseño para pantallas de Computadoras*/
{
    body{
        display: grid;
        gap: 4px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0,5fr 2fr 2fr 0,5fr;
        grid-template-areas: 
        "header header header"
        "sidebar main main"
        "sidebar section content"
        "footer footer footer"
    }

    .ImagenesRedes{
        width: 50px;
        height: 50px;
    }

}

@media screen and (min-width:767) and (min-width:1023) /*Diseño para pantallas de Tablets*/
{
    body{
        display: grid;
        gap: 4px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 0,5fr 2fr 2fr 0,5fr;
        grid-template-areas: 
        "header header header"
        "aside main main aside"
        "aside section content aside"
        "footer footer footer"
    }
}
    
@media screen and (max-width:767) /*Diseño para pantallas de Celulares*/
{
    body{
        display: grid;
        gap: 4px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0,5fr 2fr 2fr 0,5fr;
        grid-template-areas: 
        "header"
        "main"
        "section"
        "aside"
        "footer"
    }
}

